@font-face {
    font-family: "Arial";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/2E535A_0_0.eot");
    src:
        url("../fonts/2E535A_0_0.eot?#iefix") format("embedded-opentype"),
        url("../fonts/2E535A_0_0.woff2") format("woff2"),
        url("../fonts/2E535A_0_0.woff") format("woff"),
        url("../fonts/2E535A_0_0.ttf") format("truetype");
}
@font-face {
    font-family: "Arial";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/2E535A_1_0.eot");
    src:
        url("../fonts/2E535A_1_0.eot?#iefix") format("embedded-opentype"),
        url("../fonts/2E535A_1_0.woff2") format("woff2"),
        url("../fonts/2E535A_1_0.woff") format("woff"),
        url("../fonts/2E535A_1_0.ttf") format("truetype");
}
@font-face {
    font-family: "Arial";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/2E535A_2_0.eot");
    src:
        url("../fonts/2E535A_2_0.eot?#iefix") format("embedded-opentype"),
        url("../fonts/2E535A_2_0.woff2") format("woff2"),
        url("../fonts/2E535A_2_0.woff") format("woff"),
        url("../fonts/2E535A_2_0.ttf") format("truetype");
}
@font-face {
    font-family: "Amasis";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/2E535A_3_0.eot");
    src:
        url("../fonts/2E535A_3_0.eot?#iefix") format("embedded-opentype"),
        url("../fonts/2E535A_3_0.woff2") format("woff2"),
        url("../fonts/2E535A_3_0.woff") format("woff"),
        url("../fonts/2E535A_3_0.ttf") format("truetype");
}
@font-face {
    font-family: "Amasis";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/2E535A_4_0.eot");
    src:
        url("../fonts/2E535A_4_0.eot?#iefix") format("embedded-opentype"),
        url("../fonts/2E535A_4_0.woff2") format("woff2"),
        url("../fonts/2E535A_4_0.woff") format("woff"),
        url("../fonts/2E535A_4_0.ttf") format("truetype");
}
@font-face {
    font-family: "abellio-kundencenter-monitore";
    src: url("../fonts/abellio-kundencenter-monitore.eot");
    src:
        url("../fonts/abellio-kundencenter-monitore.eot?#iefix") format("embedded-opentype"),
        url("../fonts/abellio-kundencenter-monitore.woff") format("woff"),
        url("../fonts/abellio-kundencenter-monitore.ttf") format("truetype"),
        url("../fonts/abellio-kundencenter-monitore.svg#abellio-kundencenter-monitore") format("svg");
    font-weight: normal;
    font-style: normal;
}
[data-icon]:before {
    font-family: "abellio-kundencenter-monitore" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.custom-icon,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "abellio-kundencenter-monitore" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-warning:before {
    content: "\e000";
}
.icon-road-sign:before {
    content: "\e001";
}
.icon-arrow-right-sml:before {
    content: "\e002";
}
.icon-uhr:before {
    content: "\e003";
}
.icon-kalender:before {
    content: "\e004";
}
.icon-arrow-right-med:before {
    content: "\e005";
}
.icon-strecke-hin:before {
    content: "\e006";
}
.icon-strecke-beide-rtg:before {
    content: "\e007";
}
.icon-arrow-right-big:before {
    content: "\e008";
}
.icon-arrow-left:before {
    content: "\e009";
}
.icon-arrow-right:before {
    content: "\e00a";
}
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    position: relative;
    z-index: 9;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-dots {
    position: absolute;
    top: 13px;
    padding-left: 0;
    list-style: none;
    text-align: center;
    left: 50%;
    margin: 0 0 0 -30%;
    width: 60%;
}
.slick-dots li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.slick-dots li.slick-active button {
    background-color: #c71712;
}
.slick-dots li button {
    border: none;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    padding: 0;
    background: #bdb9ba;
    text-indent: -9999em;
} /*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    color: #6b717a;
    font-size: 1em;
    line-height: 1.4;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
* {
    box-sizing: border-box;
}
body,
input,
textarea {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    background: #e1e1e1;
    overflow: hidden;
    cursor: none;
}
body,
.site-container {
    height: 100%;
}
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 130px;
    background: #fff;
}
.tilted-bar-container {
    position: relative;
    float: right;
    width: 1620px;
    height: 92px;
    margin-top: 38px;
    padding-left: 57px;
}
.tilted-bar {
    height: 100%;
    padding-left: 20px;
    background: #c71610;
    background: -moz-linear-gradient(top, #c71610 0, #b0130e 100%);
    background: -webkit-linear-gradient(top, #c71610 0, #b0130e 100%);
    background: linear-gradient(to bottom, #c71610 0, #b0130e 100%);
}
.tilted-bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 27px;
    z-index: 1;
    width: 61px;
    height: 92px;
    transform: skewX(-33deg) skewY(0deg);
    background: inherit;
}
.content-container {
    width: 100%;
    height: 950px;
}
.sidebar {
    position: fixed;
    top: 130px;
    left: 0;
    z-index: 199;
    width: 300px;
    height: 100%;
    float: left;
    background: #54606c;
    background: -moz-linear-gradient(left, #54606c 0, #3e464f 100%);
    background: -webkit-linear-gradient(left, #54606c 0, #3e464f 100%);
    background: linear-gradient(to right, #54606c 0, #3e464f 100%);
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li {
    position: relative;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 94px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 22px;
    line-height: 1.04545454;
    color: #fff;
    border-bottom: 2px solid #384048;
}
.menu li.active {
    background: #c71610;
    background: -moz-linear-gradient(left, #c71610 0, #ac130e 100%);
    background: -webkit-linear-gradient(left, #c71610 0, #ac130e 100%);
    background: linear-gradient(to right, #c71610 0, #ac130e 100%);
}
.menu li.active:after {
    left: 99%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ac130e;
    border-width: 15px;
    margin-top: -15px;
}
.menu li a {
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: table-cell;
    height: 94px;
}
#timer-circle {
    position: fixed;
    bottom: 32px;
    left: 94px;
    z-index: 911;
    text-align: center;
    color: #fff;
    line-height: 1;
}
.timer-seconds-value {
    position: absolute;
    top: 41px;
    left: 17px;
    width: 50px;
    font-size: 40px;
}
.timer-seconds-text {
    position: absolute;
    top: 60px;
    left: 67px;
    font-size: 14px;
}
.branding {
    position: relative;
    top: 41px;
    left: 48px;
    width: 207px;
    height: 51px;
}
.page-title {
    font-family: "Amasis", serif;
    font-size: 48px;
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 2;
    padding-top: 18px;
    float: left;
}
.date-block-container {
    float: right;
    height: 100%;
}
.date-block {
    color: #fff;
    font-size: 24px;
    float: left;
    height: 100%;
    padding: 36px 40px 0;
    position: relative;
}
.date-block.date-block-date .clocktime {
    display: none;
}
.date-block.date-block-time {
    font-weight: bold;
}
.date-block:before {
    position: absolute;
    top: 0;
    left: 5px;
    content: "";
    height: 100%;
    width: 1px;
    background: #a4120d;
    transform: skewX(-33deg) skewY(0deg);
}
.date-block i {
    position: relative;
    top: 1px;
    margin-right: 16px;
    font-size: 0.85em;
}
.section {
    position: relative;
    margin: 130px 0 56px;
    padding-top: 49px;
}
.traffic-news-area {
    width: 100%;
    overflow: hidden;
}
.items-container {
    width: 1164px;
}
.items-container .slick-list {
    overflow: visible;
}
.box-traffic-news {
    position: relative;
    width: 551px;
    height: 753px;
    padding: 35px 37px;
    font-size: 26px;
    background: #fff;
    color: #333;
}
.box-traffic-news.slick-slide {
    margin: 0 32px 0 0;
    opacity: 0.23;
}
.box-traffic-news.slick-current,
.box-traffic-news.slick-current + .slick-slide,
.box-traffic-news.slick-current + .slick-active {
    opacity: 1;
}
.box-traffic-news.slick-cloned {
    opacity: 0;
}
.box-traffic-news h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}
.box-traffic-news h1 i {
    position: relative;
    top: 2px;
    font-size: 75%;
}
.box-traffic-news h2 {
    font-size: 20px;
    font-weight: normal;
    color: #c71712;
    margin: 38px 0 0;
}
.box-traffic-news p {
    margin: 0;
}
.box-traffic-news p:empty {
    display: none;
}
.box-traffic-news p.direction-indicator {
    font-size: 22px;
    margin: 5px 0 15px;
}
.box-traffic-news p.description,
.box-traffic-news p.description + p {
    font-style: italic;
    font-size: 24px;
    margin-top: 40px;
    width: 90%;
    max-height: 135px;
    overflow: hidden;
}
.button-railway {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 6px 60px 8px 0;
    margin-bottom: 45px;
    min-width: 164px;
    height: 51px;
}
.button-railway:after {
    background: inherit;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    left: -13px;
    width: 15px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 14px 100%, 0 calc(100% - 10px));
    -webkit-transform: rotate(360deg);
}
.nav-railway .button-railway {
    min-width: inherit;
    width: 76px;
    height: 37px;
    padding: 4px 5px 0 2px;
    margin: 0 15px 0 22px;
    font-size: 23px;
}
.nav-railway .button-railway:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    left: -9px;
    width: 11px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%, 0 calc(100% - 7px));
    -webkit-transform: rotate(360deg);
}
.button-railway i {
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 51px;
    padding-top: 9px;
    background: #6b717a;
    text-align: center;
}
.announced-date {
    position: absolute;
    right: 29px;
    bottom: 29px;
    font-size: 18px;
    line-height: 1;
    color: #6a7079;
}
.traffic-news-disturber {
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 52px;
}
.nav-railway {
    padding-right: 430px;
}
.nav-railway ul {
    list-style: none;
    padding: 0;
}
.nav-railway ul li {
    display: inline-block;
    padding: 14px 0;
    transition: all 0.35s ease;
}
.nav-railway ul li.active {
    background: #fff;
}
.box-text {
    float: left;
    width: 737px;
    height: 845px;
    padding: 78px 56px 25px 57px;
    margin-right: 23px;
    font-size: 28px;
    line-height: 1.35714286;
    background: #fff;
    color: #333;
}
.box-text h1 {
    font-family: "Amasis", serif;
    font-size: 48px;
    line-height: 1.20833333;
    margin: 0 0 45px;
}
.box-text p {
    margin-top: 0;
}
.box-notice {
    width: 100%;
    padding: 15px 19px 30px 80px;
    font-size: 28px;
    line-height: 1.28571429;
    font-weight: bold;
    background: #c71712 url("../img/flag-arrow.png") no-repeat 19px 18px;
    color: #fff;
}
.box-notice p {
    margin: 15px 0 0;
}
.box-image {
    float: left;
    width: 749px;
    height: 845px;
}
.preloader {
    display: block;
    position: fixed;
    z-index: 1009;
    text-align: center;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}
.spinner {
    margin: 80px auto;
    width: 70px;
    text-align: center;
    position: fixed;
    top: 48%;
    left: 0;
    right: 0;
    z-index: 100000;
}
.spinner:before {
    content: "";
    background: #fff url("../img/logo-abellio.svg") no-repeat center center;
    width: 169px;
    height: 42px;
    position: absolute;
    top: -67px;
    left: -40px;
}
.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #6b717a;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}
@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
.preloader-text {
    position: fixed;
    top: 650px;
    left: 0;
    right: 0;
    z-index: 1000000;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-left: 15px;
}
.button {
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    padding: 12px 20px 11px;
    border-radius: 20px;
    border: none;
    line-height: 1;
    font-size: 17px;
    background: #c71712;
    color: #fff;
}
.button:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    background: #c71712;
}
.button:focus,
.button:hover {
    color: #fff;
}
.button:focus:after,
.button:hover:after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.button.button-angular {
    border-radius: 0;
}
.button-iconized {
    padding-top: 9px;
}
.button-iconized i {
    position: relative;
    line-height: 1;
    top: 3px;
    margin-right: 3px;
}
.button-full-size {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 79;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
}
.button-back {
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: absolute;
    top: -15px;
    right: -15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.button-back:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    background: #c71712;
}
.button-back:focus,
.button-back:hover {
    color: #fff;
}
.button-back:focus:after,
.button-back:hover:after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
@media screen and (max-width: 640px) {
    .button-back {
        padding: 10px 15px;
    }
}
.button-back i {
    position: relative;
    top: 1px;
    font-size: 0.8em;
    margin-right: 8px;
}
.button-edit-content {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}
.button-effect {
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.button-effect:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    background: #c71712;
}
.button-effect:focus,
.button-effect:hover {
    color: #fff;
}
.button-effect:focus:after,
.button-effect:hover:after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

/*---------------------------- */
/* Thats the abellio way       */ 

.main-content {
  overflow: hidden;      /* hide cards that move out */
  width: 100%;
  margin-left: 300px; /*matches the sidebar*/
  padding: 10rem 0 8rem 8rem;
}

.cards-wrapper {
  display: flex;
  gap: 40px;             /* space between cards */
  transition: transform 0.5s ease;  /* smooth slide */
}

.traffic-card {
  min-width: 350px;      /* or fixed width 550px */
  max-width: 550px;
  background: linear-gradient(145deg, #f3f3f3, #eaeaea);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: grab;
  flex-shrink: 0;        /* prevent shrinking */
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.line-badge {
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 22px 10px 26px;
}


/* Dies ist der kleine Zipfel vor der Karten */
/* .line-badge::before { */
/*     content: ""; */
/*     position: absolute; */
/*     left: -18px; */
/*     top: 0; */
/*     width: 0; */
/*     height: 0; */
/*     border-top: 22px solid transparent; */
/*     border-bottom: 22px solid transparent; */
/*     border-right: 18px solid #0b6e8e; */
/* } */

.warning-icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning-icon svg{
    width: 100%;
    height: 100%;
}


/* Route */
.route-from,
.route-to {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3;
}

.route-arrow {
    font-size: 22px;
    margin: 6px 0;
}

.route-direction {
    font-style: italic;
    color: #555;
    margin-top: 6px;
}

.section {
    margin-top: 30px;
}

.section-title {
    color: #e21c23;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 6px;
}

.section-text {
    font-size: 15px;
    color: #333;
}

.card-footer {
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
    color: #8b8b8b;
}

.headline {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3;
}
